.customVideo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.customOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}


.videoCustomButton {
  background: white;
  color: black;
  padding: 12px 24px;
  font-size: 17px;
  border-radius: 3px;
  position: relative;
}

.videoCustomButton::after {
  content: "";
  position: absolute;
  background: #ddc861;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.5s;
}

.videoCustomButton:hover::after {
  transform: scaleX(1);
  z-index: -1;
}

.AboutFluxBackgroundImg {
  background-image: url(./../../assets/images/car_inside.webp);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.customAccessoiriesButton {
  background: transparent;
  color: white;
  padding: 12px 24px;
  font-size: 17px;
  position: relative;
  border: 1px solid wheat;
  position: relative;
  z-index: 1;
}

.customAccessoiriesButton::after {
  content: "";
  position: absolute;
  background: #ddc861;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.5s;

}

.customAccessoiriesButton:hover:after {
  transform: scaleX(1);
  z-index: -1;
}

.customStoryImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}


.customStoryButton {
  background: transparent;
  color: white;
  padding: 17px 51px;
  font-size: 17px;
  position: relative;
  border: 1px solid wheat;
  position: relative;
  z-index: 1;
}

.customStoryButton:hover {
  color: black;
}

.customStoryButton::after {
  content: "";
  position: absolute;
  background: #ddc861;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.5s;
}

.customStoryButton:hover:after {
  transform: scaleX(1);
  z-index: -1;
}

@media only screen and (max-width: 400px) {
  .videoCustomButton {
    background: white;
    color: black;
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 3px;
    position: relative;
  }

  .customStoryButton {
    padding: 7px 20px;
  }

  .customScroll {
    ::-webkit-scrollbar {
        display: none;
      }
  }
    
}